.DS_Store
lib/libcryptolib.so
lib/libcryptolib.wasm
lib/libcfslib.so
bin
lib
coverage.txt
*.sw*
pkg/database/postgresql/*.sw*
pkg/database/*.sw*
pkg/server/*.sw*
pkg/core/*.sw*
pkg/security/*.sw*
pkg/logging/*.sw*
pkg/client/*.sw*
pkg/cmd/*.sw*
*.etcd
